@import "./styles/variables.scss";

@font-face {
  font-family: 'Helios';
  src: local('Helios'), url(./assets/font/heliosc.otf) format('truetype');
}

@font-face {
  font-family: 'HeliosBlackC';
  src: local('HeliosBlackC'), url(./assets/font/heliosblackc.otf) format('truetype');
}
/* Reset styles */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
// ul,
// ol,
// li {
//   list-style: none;
// }
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  min-height: 100vh;
  min-width: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: Helios;
}
button{
  font-size: $font-size-medium;
  cursor: pointer;
}


html {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

